.conteudo {
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  .personagens{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }


  img{
    height: 250px;
    width: 200px;
  }

  .selecionado{
    width: 300px;
    height: 300px;
  }